<h1>Listing seconds</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seconds.each do |second| %>
  <tr>
    <td><%= link_to 'Show', second %></td>
    <td><%= link_to 'Edit', edit_second_path(second) %></td>
    <td><%= link_to 'Destroy', second, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Second', new_second_path %>
